/* This is a comment that will not be read by browser */
body {
    background-color: whitesmoke;
    font-size: 20px;
}

h1 {
    color: goldenrod;
    font-weight: bold;
    font-size: 3em;
}

h2, h3 {
    font-size: 1.5em;
}

html {
    font-family: sans-serif;
}


ol {
    list-style-type: lower-roman

}

/*Classes are refered to via a '.'*/
/* IDs are refered to via a '#'. 
Stylingwise they are to be avoided. 
But you can add them to the URLs */

#console-tag {
    border: 1px black solid;
    background-color: white;
    padding: 2px;
    font-family: monospace;
}

a {
    text-decoration: none;
}

a:visited {
    color: goldenrod
}

a:link {
    color: goldenrod
}

a:hover {
    color: navy
}