/* This is a comment that will not be read by browsers d */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/* Header-Menu-Styling */
header {
    /* border: 1px solid red; */
    position: fixed;
    /* display: flex; */
    z-index: 1;
}

nav {
    /* border: 1px solid red; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    /* height: 150px; */
    width: 100%;
    height: 150px;
    padding: 50px;
    background: #b2d6ffe0;
}

.logo {
    /* border: 1px solid red; */
    margin-right: auto;
    cursor: pointer;
}

.link {
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.menu {
    /* border: 1px solid red; */
    margin-top: 15px;
    display: flex;
    z-index: 1;
}

.menu>li {
    /* border: 1px solid red; */
    list-style-type: none;
    margin-right: 50px;
}

.menu>li:last-of-type {
    margin-right: 2em;
}

/* Code für Dropdown - angepasst aus Tutorial */
.dropdown {
    position: relative;
}

.dropdown>span {
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.tutorials-menu {
    display: none;
}

.dropdown:hover .tutorials-menu {
    display: flex;
    flex-direction: column;
    background: #b2caff;
    border-radius: 5px;
    padding-top: 80px;

    position: absolute;
    top: -25px;
    left: -30px;
}

.tutorials-menu li {
    list-style: none;
    border-bottom: 1px solid #FFF;

    padding: 0 40px 10px 20px;
    margin: 10px;
}

.tutorials-menu li:last-of-type {
    border-bottom: none;
}

body {
    background-color: whitesmoke;
    font-size: 30px;
    z-index: 0;
}

.content-container {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    margin-top: 150px;
    width: 100%;
}

article {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 20px;
}

h1 {
    color: goldenrod;
    font-weight: bold;
    font-size: 3em;
}

h2,
h3 {
    font-size: 1.5em;
}


/*Classes are refered to via a '.'*/
/* IDs are refered to via a '#'. 
Stylingwise they are to be avoided. 
But you can add them to the URLs */



a {
    text-decoration: none;
}



a:visited {
    color: goldenrod
}

a:link {
    color: goldenrod
}

a:hover {
    color: navy
}