* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cool-container{
position: relative;
height: auto;
}

.background-image-1 {

    background-image: url("../assets/JPG/coffee-model_horizontal.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-2 {

    background-image: url("../assets/JPG/pong_horizontal.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-3 {

    background-image: url("../assets/JPG/gg_horizontal.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-4 {

    background-image: url("../assets/JPG/pong_horizontal.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-5 {

    background-image: url("../assets/JPG/pong_horizontal.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-6 {

    background-image: url("../assets/JPG/pong_horizontal.jpg");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-overlay{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 5%;
margin-bottom: 10%;
margin-left:66%;
margin-right: 5%;
padding: 20px;
/* margin: 5%; */
/* width:100%; */
position: absolute;
/* height: 40%; */
justify-content: center;
top:0;
left:0;
/* height: 100%; */
background-color: rgba(245, 245, 245, 0);
}